.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;

  &__input {
    position: relative;
    max-width: 100%;

    input {
      height: 30px;
      width: 100%;
      outline: none;
      padding: 0 5px;
      border: none;
      color: var(--text);
      background: transparent;
      margin-left: 0.2rem;

      &:focus:placeholder-shown {
        .form__input--label {
          display: none;
        }
      }
    }

    &--label {
      position: absolute;
      top: -11px;
      left: 5px;
    }
  }

  &__error {
    visibility: hidden;
    &--text {
      margin-left: 2px;
      color: var(--error);
      font-style: italic;
    }
  }
}

.input-block {
  box-sizing: border-box;
  padding: 5px 10px;
  display: inline-block;
  width: 100%;
}

.wrong::placeholder {
  color: var(--error) !important;
}

.display-error {
  animation: color-change 1s ease;
  visibility: visible;
}

@keyframes color-change {
  0% {
    transform: scale(1.01);
  }
  25% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1.01);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1.01);
  }
}


.outlined {
  border: 1px solid rgb(114, 114, 114);
  border-radius: 5px;
}

.outline {
  top: -7px !important;
  left: 10px;
  background-color: var(--light);
}


.borderBottom {
  border-bottom: 1px solid #898989;
 
}

.activeBorder {
  border-bottom: 2px solid var(--primary) !important;
}

.inputBorder {
  border-bottom: 1px solid var(--input-text);
}
